@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme:light;
  --text-primary: #092324;
  --text-hover-primary: #506566;
  --text-secondary: #f0e6d9;
  --text-hover-secondary: #efdabdb0;
  --background: #fbfefe;
  --primary: rgb(234 88 12);
  --hover-primary: rgb(184, 69, 8);
  --secondary: #efdabd;
  --hover-secondary: #dfbf96;
  --accent: #b22d67;
  --hover-accent: #cc3476;
}

:root .dark {
  color-scheme:dark;
  --text-primary: #e6ebeb;
  --text-hover-primary: #bcbebe;
  --text-secondary: #efdabd;
  --text-hover-secondary: #efdabdb0;
  --background: #06191a;
  --primary: rgb(90, 7, 7);
  --hover-primary: rgb(121, 9, 9);
  --secondary: #161a19;
  --hover-secondary: rgb(7, 8, 4);
  --accent: #c76b93;
  --hover-accent: #b8708f;
}
