@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #092324;
  --text-hover-primary: #506566;
  --text-secondary: #f0e6d9;
  --text-hover-secondary: #efdabdb0;
  --background: #fbfefe;
  --primary: rgb(234 88 12);
  --hover-primary: rgb(184, 69, 8);
  --secondary: #efdabd;
  --hover-secondary: #dfbf96;
  --accent: #b22d67;
  --hover-accent: #cc3476;
}

:root .dark {
  --text-primary: #fbfefe;
  --text-hover-primary: #bcbebe;
  --text-secondary: #efdabd;
  --text-hover-secondary: #efdabdb0;
  --background: #06191a;
  --primary: rgb(110, 41, 3);
  --hover-primary: rgb(114, 44, 6);
  --secondary: #1a1716;
  --hover-secondary: #332e2d;
  --accent: #e494b7;
  --hover-accent: #ce7c9f;
}
